<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="style.css"/>
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<title>Cricgear</title>
 </head>
 
 <body>
    <div class="grid-container"> 
    <header class="row">
      <div> 
      <a class="brand" href="index.html">Crickgear</a>
      </div>
      <div>
      <a href="cart.html">Cart</a> 
      <a href="signin.html">Sign In</a>
     </div>
   </header>
<main> 
<div class="row center">
<div class="card">
  <a href="product.html">
  <img class ="medium" src="images/d1.jpg"
  alt="cricket bat"
  />
  </a>
  <div class="card-body">
  <a href="product.html"></a>
      <h2>Adidas Cricket Bat</h2>
      </a>
      <div class="rating">
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
   </div>
   <div class="price">£200</div>
  </div>
</div>









<div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d2.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>MRF Cricket Bat</h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£330</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d3.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>PUMA Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£320</div>
    </div>
  </div>


  <div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d4.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Geay-Nicolas Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£280</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d5.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Newbury Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£250</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d6.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Kookabura Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£300</div>
    </div>
  </div>
 
  <div class="card">
    <a href="product.html">
    <img class ="medium" src="images/d7.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>CA Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£320</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img  class ="medium" src="images/d8.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Insignia County Hunts Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        
     </div>
     <div class="price">£280</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img  class ="medium" src="images/d9.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Chase Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        
     </div>
     <div class="price">£220</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img  class ="medium" src="images/d10.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>SS Ton Cricket Bat </h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
     </div>
     <div class="price">£250</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img  class ="medium" src="images/d11.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>Spartan Cricket Bat</h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        
     </div>
     <div class="price">£100</div>
    </div>
  </div>

  <div class="card">
    <a href="product.html">
    <img class=" medium" src="images/d12.jpg"
    alt="cricket bat"
    />
    </a>
    <div class="card-body">
    <a href="product.html"></a>
        <h2>SS Ton Cricket Bat</h2>
        </a>
        <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star-half-o"></i></span>
        
     </div>
     <div class="price">£150</div>
    </div>
  </div>





</div>
</main>
<footer class="row center"> All right reserved</footer>
</div>
 </body>
</html>
